/* style header */
header {border: 2px; border-style: solid;}
header h1 {text-align: center;}

/* style buttons */
button, input {border-radius: 5px; border-width: 1px; border-style: solid; transition: 0.3s; height: 45px;}
button {opacity: 0.75;}

/* button and input animations */
button:hover {opacity: 1; font-size: 15px; cursor:pointer;}
input:hover, input:focus {font-size: 15px;}

/* color changes for dark mode */
@media (prefers-color-scheme: dark) {
    body {background-color: #343434;}
        input {background-color: #444444;}
        header, button {background-color: #1B1B1B;}
    * {color: #999999;}
  }