/* position content in grid */
.content {display: grid; grid-template-columns: repeat(2); grid-auto-rows: minmax(100px, auto);}

#werknemerInfo {
    grid-column: 1; 
    grid-column-end: 100px; 
    border: 0px;
    border-style: solid; height: 100%; 
    padding-right: 5px;
}

#passwordForm {
    grid-column: 2; 
    grid-column-end: 100px; 
    border: 0px;
    border-style: solid; height: 100%; 
    padding-right: 5px;
}

/* style input */
input[type=text], input[type=password] {width: 300px; display: block;}
input[type=date] {display: block;}
div {width: 100%; margin-bottom: 10px;}
#adminRecht {margin: 0px; height: 20px; width: 20px; margin-left: 10px; position: relative; top: 5px;}

/* style buttons */
a {text-decoration-line: none;}
button {width: 100px; margin: 2px; margin-top: 10px;}

#saveBtn, #cancelBtn {margin-left: 27px;}

#deleteBtn {color: red; border-color: red;}

/* position buttons */
#editBtn {position:absolute; right: 1%; margin-top: 10px;}
#deleteBtn {position: absolute; right: 1%; top: 80%;}

/* size change based on screen width */
@media screen and (min-width: 800px) {
    input[type=text], input[type=password] {width: 300px;}
}

@media screen and (min-width: 900px) {
    input[type=text], input[type=password] {width: 400px;}
}

@media screen and (max-width: 720px) {
    input[type=text], input[type=password] {width: 200px;}
}

@media screen and (max-width: 520px) {
    input[type=text], input[type=password] {width: 140px;}
}


/* style uren */
#addUren, #addMinute, #uurloon {width: 30px; text-align: center; display: inline; margin-left: 5px; margin-right: 5px;}

/* remove arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}