/* style all forms */
input,select {height: 40px; margin: 15px; border-radius: 5px; border-width: 1px; border-style: solid;}
button {margin: 15px; padding: 10px;}

/* remove form border */
.noBorderForm {border: 0px;}