/* position elements in grid */
#klantInfo {
    grid-column: 1; 
    grid-column-end: 100px; 
    border: 0px;
    border-style: solid; height: 100%; 
    padding-right: 5px;
}

#klusInfo {
    grid-column: 2; 
    grid-column-end: 100px; 
    border: 0px;
    border-style: solid; height: 100%; 
    padding-right: 5px;
}

/* position elements in grid */
#materials {
    grid-column: 1; 
    grid-column-end: 100px; 
    border: 0px;
    border-style: solid; height: 100%; 
    padding-right: 5px;

    margin: 0px;
}

#werknemers {
    grid-column: 2; 
    grid-column-end: 100px; 
    border: 0px;
    border-style: solid; height: 100%; 
    padding-right: 5px;

    margin: 0px;
}

/* style begindatum input */
#Begindatum {width: 150px;}

/* add side scroller to table*/
tbody {overflow-y: scroll; display: block; height: 200px; width: 230px;}

/* seperate table head */
th {border-bottom: 2px solid; padding: 0; text-align: center;}

/* set table width */
#materials, #werknemers {width: 240px; border: 2px solid;}


/* style rows in table */
#materialBody tr td {padding-right: 110px;}
#werknemerBody tr td {padding-right: 7px;}
#werknemerBody tr td:first-child {padding-right: 103px;}

/* position table input fields */
select, #submitWerknemerBtn, #addMaterial, #submitMaterialBtn {display: inline; width: 68%; margin: 0px; margin-right: 5px; margin-left: 5px;}
#addWerknemerBtn, #addMaterialBtn {width: 50px; font-size: 15px;}

/* size change based on screen width */
@media screen and (min-width: 720px) {
    input[type=text] {width: 150px;}
}

@media screen and (min-width: 880px) {
    input[type=text] {width: 300px;}
}

@media screen and (max-width: 500px) {
    tbody {width: 160px;}
    #materials, #werknemers {width: 170px; border: 2px solid;}
    #addMaterial, select {width: 58%;}
    #urenInput {display: block;}
    #materialBody tr td {padding-right: 80px;}
    #werknemerBody tr td:first-child {padding-right: 46px;}
}

/* when screen gets to small reposition some elements */
@media screen and (max-width: 700px) {

    /* change height of tables */
    tbody {height: 100px;}

    /* change position of tables */
    #materials {
        grid-column: 1; 
        grid-row: 1;
    }

    #werknemers {
        grid-column: 1; 
        grid-row: 2;
    }

    /* add gap between tables */
    #klusInfo .content {row-gap: 40px;}
}


