.content {display: grid; grid-template-columns: repeat(6, 1fr); grid-auto-rows: minmax(100px, auto);}
nav {grid-column: 1/2; grid-column-end: 100px; border: 0px; border-right: 2px; border-style: solid; height: 100%; padding-right: 5px;}
main {grid-column: 2/7;}

button {width: 100%; min-width: 97px; height: 50px; margin-top: 5px; bottom: 100px;}

table {width: 100%; margin-top: 10px; padding-left: 5px;}
td {font-size: 20px;}
tr {height: 40px;}

.uneven {background-color: #2e2e2e;}

#addButton {width: 1px; position: fixed; left: 46%; font-size: 40px; opacity: 1;}
#addButton:hover {font-size: 45px; height: 60px;}

@media screen and (min-width: 500px) {
    td { width: 37%;}
}

@media (prefers-color-scheme: light) {
    .uneven {background-color: #eeeeee;}

}