/* position elements */
.content {display: grid; grid-template-columns: repeat(2, 1fr 4fr); grid-auto-rows: minmax(100px, auto);}
main {grid-column: 2/7;}
nav {
    grid-column-end: 100px; 
    border: 0px; border-right: 2px; 
    border-style: solid; height: 100%; 
    padding-right: 5px;
}

/* style menu buttons */
button {width: 100%; min-width: 97px; height: 50px; margin-top: 5px; bottom: 100px;}

/* style addButton */
#addButton {
    width: 1px; 
    position:fixed; 
    font-size: 40px; 
    opacity: 1;   
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

/* addButton animations */
#addButton:hover {width: 110px; height: 55px; font-size: 52px;}
#addButton div {position:relative;}
#addButton:hover div{ bottom: 5px;}

/* changes based on screen size */
@media screen and (min-width: 520px) {
    td { width: 37%;}}

@media screen and (orientation : landscape) and (max-width: 1000px){
    #addButton {left: 8%; bottom: 5%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
}

/* color change for light mode */
@media (prefers-color-scheme: light) {
    .uneven {background-color: #eeeeee;}

}